@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
}

.image__heading {
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.image__container {
  margin: 10px 30%;
}

.image__container img {
  margin-top: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .image__heading {
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }
  .image__container {
    margin: 10px;
  }
}
